html {
    padding: 0px;
    margin: 0px;
}

.search-by-all {
    position: relative;
    width: 50%;
}

input[type="search"] {
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    width: 100%;
    height: 35px;
    padding: 5px 8px;
}

.search-by-all button {
    position: absolute;
    right: 0;
    top: 18%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.search-by-all button i {
    font-size: 18px;
    color: #326273;
}

body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background-color: #e1e5e8;
    font-family: 'Poppins', sans-serif;
}

ul li {
    list-style-type: none; 
}

nav .nav-main-opt {
    background-color: #fff;
}

.active-nav-opt {
    color: #5E548E;
    font-weight: bold;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    width: 40%;
}

nav ul li {
    padding: 2px 5px;
    cursor: pointer;
}

.search-bar {
    display: flex;
    width: 50%;
    margin: 20px auto;
    justify-content: space-evenly;
}

.search-bar .category-bar {
    background-color: field;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width: 25%;
    padding: 2px 6px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
    position: relative;
}

.category-bar .categ-opt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4px 2px;
}

#categor_opt {
    display: none;
    flex-direction: column;
    position: absolute;
    box-shadow: 0 1px 5px rgb(0 0 0 / 20%), 0 2px 2px rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%);
    align-items: flex-start;
    padding: 6px 0px;
    border: 4px;
    background-color: #fff;
    width: 80%;
    z-index: 100;
    overflow-y: auto;
    overflow-x: hidden;
}

#categor_opt li {
    width: 100%;
    padding: 4px 10px;
}

#categor_opt li:hover {
    background-color: #766C7F;
}

.categ-opt i {
    color: #326273;
}

.filter-opt ul {
    display: flex;
    align-items: center;
}

.b-link-types>:not(:last-child) {
    margin-right: 25px;
}

.filter-opt ul li {
    padding: 2px 10px;
}

.b-types {
    opacity: 0.6;
    cursor: pointer;
}

.active-opt {
    font-weight: bold;
    opacity: 1;
}

.carousel {
    height: 400px;
    overflow: hidden;
}

.slider {
    height: 100%;
    display: flex;
    width: 200%;
    transition: all 0.3s;
}

.slider section {
    flex-basis:100%;
    display: flex;
    justify-content: center;
}

.b-title {
    font-size: 13px;
}

.show-menu {
    display: flex !important;
}

/* .b-container1, .b-container2 {
    display: none;
    margin: 4px 40px;
    justify-content: space-evenly;
} */

.active-container {
    display: flex;
    transition: all 1s linear;
}

.re-books-wrapper {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 8px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    padding: 6px;
    cursor: pointer;
    max-width: 135px;
}

.book-thumb img {
    box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
    border-radius: 2px;
    width: 128px;
    height: 197px;
}

/* .modal-bottom {
    bottom: 0;
    opacity: 1;
}

.modal-body {
    position: relative;
    bottom: 0;
    margin: 100px auto 0;
    padding: 40px;
    max-width: 60%;
    height: auto;
    background-color: rgb(248, 250, 247);
    border: 1px solid #BEBEBE;
    -webkit-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
    transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
} */
.modal-wrapper {
    position: fixed;
    z-index: 9999;
    height: 100%;
    max-height: 100%;
    width: 100%;
    background-color: rgb(0,0,0,0.3);
    top: 0;
    left: 0;
    will-change: top, opacity;
    display: none;
}

.modal-bottom {
    z-index: 1000;
    /* opacity: 0;
    visibility: hidden; */
    bottom: 0px;
    top: auto;
    margin: auto;
    width: 80%;
    max-height: 70%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fafafa;
    box-shadow: 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%), 0 11px 15px -7px rgb(0 0 0 / 20%);
}

.modal-content {
    padding: 24px;    
    margin-top: 25px;
}

.modal-content .m-titles {
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 18px;
}

p#book_title {
    font-weight: bold;
    margin-bottom: 6px;
}

p#book_subtitle {
    font-size: 15px;
    margin-top: 0px;
}

.book-description {
    font-size: 14px;
}

.modal-content .m-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.m-details .b-adds {
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 5px;
    width: 15%;
    text-align: center;
}

.m-details .b-adds .b-info-type {
    font-size: 14px;
    margin: 0;
    color: #1B998B;
}

.m-details .b-adds .b-info-more {
    font-size: 13px;
    margin: 0;
}

.rating-stars {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
}

.rating-stars::before {
    content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #f8ce0b;
  }

.view-fpage {
    position: absolute;
    top: -125px;
    width: 15%;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.m-active {
    visibility: visible !important;
    opacity: 1 !important;
}

.m-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.m-buttons button {
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    background: none;
    border: 1px solid #cdcdcd !important;
    border-radius: 3px;
    padding: 4px 8px;
}

#book_avatar {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    border-radius: 4px;
}

.modal-goals {
    width: 100%;
    position: fixed;
    z-index: 9999;
    left: 0;
    bottom: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0,0,0,0.3);
    padding: 20px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.g-mod-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    height: auto;
    margin: 0 auto;
    position: relative;
    border-radius: 5px;
    margin-top: 120px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 15%), 0 10px 10px -5px rgb(0 0 0 / 10%);
    transition: all 0.3s ease-in-out;
}

.g-mod-container h2{
    color: #f4e5f4aa;
    background-color: #766C7F;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 10px 0px;
    border-radius: 5px 5px 0 0;
    flex-wrap: wrap;
}

.g-mod-content {
    background-color: #fff;
    min-height: 150px;
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 0 0 5px 5px;
}

.g-mod-info {
    width: 90%;
    margin: auto;
    margin-top: 10px;
}

.g-mod-info p {
    font-size: 15px;
    margin: 5px 0px;
}

.g-mod-footer {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: right;
}

button.btn-save-plan {
    color: #fff;
    font-size: 16px;
    margin: 0px 5px 10px;
    background-color: #429EA6;
    border: none;
    text-align: center;
    letter-spacing: .5px;
    cursor: pointer;
    transition: .3s ease-out;
    border-radius: 2px;
    height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);
}

button.btn-save-plan i {
    margin-right: 6px;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 5% auto;
}

form .form-dates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0px;
}