* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

header nav {
    position: relative;
}

header nav img {
    height: 250px;
    width: 100%;
    background-color: rgb(23, 112, 171);
    opacity: 0.9;
}

header nav h2 {
    position: absolute;
    top: 10%;
}

.add-task {
    background-color: #E63946;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 13px;
    position: absolute;
    top: 86%;
    right: 6%;
    cursor: pointer;
}

.add-task .fa-plus {
    color: #FEFCFB;
    font-size: 18px;
}

.container-todo {
    height: 350px;
    /* background-image: linear-gradient(to right, #2c3e50, #4ca1af); */
    background: linear-gradient(-20deg, #d0b782 20%, #a0cecf 80%);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 20px 0px;
}

.modal {
    position: fixed;
    z-index: 9999;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.m-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    min-height: 150px;
    height: auto;
    margin: 0 auto;
    position: relative;
    border-radius: 5px;
    margin-top: 120px;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,.15),0 10px 10px -5px rgba(0,0,0,.1);
    transition: all 0.3s ease-in-out;
    background-color: #A8DADC;
    transition: all 0.3s cubic-bezier(0.75, -0.5, 0, 2.75);
}

.modal.active .m-container {
    transform: scale(1);
}

.modal .m-container .m-title {
    background-color: #262626;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px 5px 0 0;
    color: #f2f2f2;
    font-size: 18px;
    flex-wrap: wrap;
    letter-spacing: 0.09em;
    margin: 0;
}


.active {
    visibility: visible;
    opacity: 1;
}

footer {
    text-align: center;
}

form input, form select {
    display: block;
    clear: both;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 4px;
    padding: 4px;
}

form#form_new_task {
    margin: auto;
    width: 80%;
    padding: 10px 0px 20px 0px;
}

input:focus, select:focus {
    outline: none;
}

.m-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 8px;
    flex-wrap: wrap;
}

button[type=submit] {
    background-color: #1D3557;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 8px;
    outline: none;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 15%), 0 10px 10px -5px rgb(0 0 0 / 10%);
    color: #F1FAEE;
    font-size: 15px;
}


.m-container .m-close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 25px;
    width: 25px;
    right: -7px;
    top: -7px;
    padding: 0;
    margin: 0;
    background-color: #f2f2f2;
    border-radius: 50%;
    transform: rotate(45deg);
    cursor: pointer;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 15%), 0 10px 10px -5px rgb(0 0 0 / 10%);
}

.m-container .m-close:before, .m-container .m-close:after {
    content: "";
    display: block;
    position: absolute;
    background-color: #262626;
    border-radius: 3px;
}

.m-container .m-close:before {
    width: 16px;
    height: 2px;
}

.m-container .m-close:after {
    width: 2px;
    height: 16px;
}

#tbl_todo {
    margin: auto;
    margin-top: 0;
    width: 90%;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
    background-color: rgba(255, 255, 255, .2);
}

#tbl_todo tbody tr {
    border-bottom: 1px solid #fff;
    margin: 5px 2px;
}

#tbl_todo tbody tr td {
    padding: 10px 2px;
    color: #435757;
}

#tbl_todo tbody tr:hover {
    background-color: rgba(255, 255, 255, .2);
}

.flag1 {
    color: rgb(245, 0, 0);
}

.flag2 {
    color: rgb(255, 204, 0);
}

.flag3 {
    color: rgb(111, 221, 255);
}

.flag4 {
    color: rgb(216, 216, 216);
}

input[type=checkbox] {
    position: relative !important;
    appearance: none;
    margin: 8px;
    box-sizing: content-box;
    overflow: hidden;
}

input[type=checkbox]:before {
    content: '';
    display: block;
    box-sizing: content-box;
    width: 16px;
    height: 16px;
    border: 2px solid #435757;
    transition: 0.2s border-color ease;
}

input:checked:before {
    border-color: #457B9D;
    transition: 0.5s border-color ease;
}

input[type=checkbox]:disabled:before {
    border-color: #435757;
    background-color: #435757;
}

input[type=checkbox]:after {
    content: '';
    display: block;
    position: absolute;
    box-sizing: content-box;
    top: 50%;
    left: 50%;
    transform-origin: 50% 50%;
    background-color: #457B9D;
    width: 16px;
    height: 16px;
    border-radius: 100vh;
    transform: translate(-50%,-50%) scale(0);
}

input[type="checkbox"]:before {
    border-radius: 16px/4;
}
input[type="checkbox"]:after {
    width: 9.6px;
    height: 16px;
    border-radius: 0;
    transform: translate(-50%,-85%) scale(0) rotate(45deg);
    background-color: transparent;
    box-shadow: 4px 4px 0px 0px #457B9D;
}

input[type="checkbox"]:checked:after {
    animation: toggleOnCheckbox 0.2s ease forwards;
}
input[type="checkbox"].filled:before {
    border-radius: 16px/4;
    transition: 0.2s border-color ease, 0.2s background-color ease;
}
input[type="checkbox"].filled:checked:not(:disabled):before {
    background-color: #457B9D;
}
input[type="checkbox"].filled:not(:disabled):after {
    box-shadow: 4px 4px 0px 0px white;
}

@keyframes toggleOnCheckbox {
    0% {
        opacity: 0;
        transform: translate(-50%,-85%) scale(0) rotate(45deg);
   }
    70% {
        opacity: 1;
        transform: translate(-50%,-85%) scale(0.9) rotate(45deg);
   }
    100% {
        transform: translate(-50%,-85%) scale(0.8) rotate(45deg);
   }
}

span.completed {
    text-decoration: line-through;
}

