@media only screen and (min-width: 900px) {
    .media i{
        font-size: 20px;
    }


    .avatar-section img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 12px solid #1CB698;
    }
}