@media only screen and (min-width: 900px) {
    .media i{
        font-size: 20px;
    }

    .avatar-section img {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        border: 4px solid #C2DFE3;
    }
}