body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    background-color: #1E2326;
}

ul li {
    list-style-type: none;
}


nav {
    position: relative;
    background-color: #1E2326;
    box-shadow: 0 5px 12px 0 rgb(0 0 0 / 10%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    transition: 0.6s;
}

nav h1 {
    color: #1CB698;
    font-size: 36px;
    font-family: 'Righteous', cursive;
    font-weight: 200;
    padding: 8px;
    margin: 0;
    position: relative;
}

nav ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

nav ul li a{
    position: relative;
    list-style-type: none;
    margin: 0 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: normal;
    color: #fff;
    font-size: 16px;
    transition: 0.6s;
    cursor: pointer;
}

nav.sticky {
    position: fixed;
    box-shadow: 0 5px 12px 0 rgb(0 0 0 / 10%);
}

/* *,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
} */
/* section {
    margin: auto;
    width: 100%;
    height: 25vw;
} */

/* .info-st {
    background-image: url(../imgs/comp2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */

@keyframes pulse {
    0% {
    box-shadow: 0 0 0 0 rgba(28, 182, 152, 0.2), 0 0 0 1em rgba(28, 182, 152, 0.2), 0 0 0 3em rgba(28, 182, 152, 0.2), 0 0 0 5em rgba(28, 182, 152, 0.2);
   }
    100% {
    box-shadow: 0 0 0 1em rgba(28, 182, 152, 0.2), 0 0 0 3em rgba(28, 182, 152, 0.2), 0 0 0 5em rgba(28, 182, 152, 0.2), 0 0 0 8em rgba(28, 182, 152, 0);
   }
   }

.info-st {
    position: relative;
    padding: 10px 0px;
    padding-top: 100px;
    width: 100%;
    min-height: 100vh;
}

.info-st:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-image:url(../imgs/comp2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.avatar-section {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: 25%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    padding: 60px 0px;
    border-radius: 15px;
    background: #252A2E;
}

.avatar-section img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #C2DFE3;
    margin-right: auto;
    margin-left: auto;
    display: block;
    transform: translateY(-50%);
    animation: pulse 0.7s linear infinite;
}

.avatar-section h2, h3{
    text-align: center;
    font-family: 'Righteous', cursive;
}

.avatar-section h2 {
    font-size: 32px;
    line-height: 40px;
    text-transform: uppercase;
    margin-top: -25px;
    color: #fff;
    letter-spacing: 0.03em;
}

.avatar-section h3 {
    font-size: 17px;
    color: #fff;
    font-weight: 100;
}

.social-med {
    display: flex;
    justify-content: center;
} 

.media:hover {
    cursor: pointer;
}

.media i{
    font-size: 20px;
    margin: 3px 10px;
    color:#fff;
}

.media .fa-facebook:hover{
    color: #3b5998;
}

.media .fa-instagram:hover {
    color: #8a3ab9;
}
.media .fa-linkedin:hover {
color: #0e76a8;
}

.media .fa-github:hover {
    color: #171515; 
}

.container {
    width: 100%;
    max-width: 80rem;
    margin: 30px auto;
    padding: 0 1.5rem;
}

.accordion {
    list-style-type: none;
}

.accordion-item {
    background-color: #283042;
    border-radius: .4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: .5rem 2px .5rem rgba(0,0,0,.1);
}

.accordion-link {
    color: rgba(255,255,255,.8);
    text-decoration: none;
    background-color: #283042;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;   
}

.accordion-link i {
    color: #e7d5ff;
    padding: .5rem;
}

.accordion-link .fa-minus {
    display: none;
}

.answer {
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: #212838;
    transition: max-height 650ms;
    margin-bottom: 6px;
}

.answer::before {
    content: "";
    position: absolute;
    width: .6rem;
    height: 90%;
    background-color: #8ECAE6;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.answer a {
    color: rgba(255,255,255,.6);
    font-size: 1.3rem;
    padding: 1.5rem;
    margin:0px;
    text-decoration: none;
}

.accordion-item:target .answer {
    max-height: 20rem;

}

.accordion-item:target .accordion-link .fa-plus {
    display: none; 
}

.accordion-item:target .accordion-link .fa-minus {
    display: block; 
}

.opened {
    max-height: 20rem !important;
}

.about-content {
    margin-right: auto;
    margin-left: auto;
    width: 98%;
}

.about-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.about-details article {
    width: 45%;
}

.about-content-text {
    color: #fff;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

.about-content-text p {
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 20px;
}

.about-content-text p strong {
    color: #1CB698;
}

.title-interest h3 {
    font-family: 'Righteous', cursive;
    color: #fff;
    font-size: 28px;
    line-height: 30px;
    position: relative;
    letter-spacing: 0.5px;
    text-align: left;
    padding-left: 10px;
}

.content-interest ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 8px 4px;
}

.content-interest ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background-color: #252A2E;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%) inset;
    padding: 12px 10px;
    width: 100px;
    margin: 0px 10px 25px 10px;
    transition: all 0.8s ease 0s;
    color: #fff;
    font-size: 16px;
}

.content-interest ul li:hover {
    background-color: #1CB698;
}

.content-interest ul li span {
    margin-top: 8px;
}

#tbl_dev_details tr th {
    font-family: 'Righteous',cursive;
    text-align: left;
    padding: 5px 10px;
    font-size: 28px;
    color: #FFF;
    line-height: 30px;
    letter-spacing: 0.5px;
    font-weight: normal;
}

#tbl_dev_details tr td{
    text-align: left;
    padding: 10px;
    font-size: 15px;
}

#tbl_dev_details tr td:nth-child(1) {
    color: #1cb698;
    font-weight: 600;
}

#tbl_dev_details tr td:nth-child(2) {
    text-align: left;
    color: #FFF;
}

.about-cv {
    text-align: center;
}

.about-cv a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    background-color: transparent;
    padding: 10px 22px;
    position: relative;
    border: 1px solid #FFF;
    transition: all 0.5s ease 0s;
    transform: perspective(1px) translateZ(0);
}

.about-cv a i {
    padding-left: 4px;
}

.btnDown:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #1CB698;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    border-radius: 0px;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.btnDown:hover:before {
    transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

#skills {
    background: #252A2E;
}

.skills-content {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
}

.skill-list li {
    background-color: #252A2E;
    box-shadow: rgb(0 0 0 / 16%) 0px 2px 5px 0px, rgb(0 0 0 / 12%) 0px 2px 10px 0px inset;
    padding: 12px 10px;
    width: 15%;
    margin: 0px 10px 25px 10px;
    cursor: pointer;
}

.skill-lang {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.skill-lang span {
    margin-top: 8px;
    font-size: 18px;
    color: #fff;
}

.skill-lang i {
    font-size: 30px;
    font-weight: 800;
}

.skill-lang .fa-js-square {
    color: #f0db4f;
}
.skill-lang .fa-css3-alt{
    color: #2965f1;
}
.skill-lang .fa-sass{
    color: #cd6799;
}
.skill-lang .fa-react{
    color: #61DBFB;
}
.skill-lang .fa-angular{
    color: #B52E31;
}
.skill-lang .fa-vuejs{
    color: #42b883;
}
.skill-lang .fa-node{
    color: #3c873a;
}
.skill-lang .fa-php{
    color: #8993be;
}
.skill-lang .fa-database{
    color: #F29111;
}
.skill-lang .fa-java{
    color: #5382a1;
}

.skill-list li span.skill-exp {
    text-align: center;
    color: #fff;
    font-size: 12px;
    display: flex;
    margin: auto;
    width: 25%;
}

section .contact-info {
    background-image: url(../imgs/contact_bg.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.col-contact {
    display: flex;
    justify-content: space-around;
}



form input, form textarea {
    display: block;
    background-color: #252A2E;
    border: 0px solid #D2D2D2;
    border-radius: 5px;
    height: 50px;
    padding: 18px;
    line-height: 30px;
    box-shadow: 0px 18px 18px 0 rgb(0 0 0 / 20%);
    font-size: 15px;
    color:#fff;
    letter-spacing: 0.5px;
    width: 100%;
    margin-bottom: 20px;
}

article #map {
    border:4px solid #252A2E;
    box-shadow: 0px 18px 18px 0 rgb(0 0 0 / 20%), 0px 18px 18px 0 rgb(0 0 0 / 20%) inset;
    height: 500px !important;
}

.title-contact {
    text-align: center;
    margin-top: 25px;
    padding-top: 15px;
}

.title-contact i {
    font-size: 30px;
    color: #2274A5;
}

.title-contact h2 {
    color: #fff;
    font-family: 'Righteous',cursive;
    font-size: 30px;
    line-height: 30px;
    padding-bottom: 20px;
    position: relative;
    margin: 5px 0;
}

#works {
    background: #252A2E;
    padding: 0px 10px;
}

.work-container {
    display: flex;
    margin: auto;
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-wrapper {
    border-radius: 10px;
    height: 313px;
    width: 350px;
    margin: 10px;
    cursor: pointer;

}

.portfolio-e {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.portfolio-e img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: block;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
}

.portfolio-e > .portfolio-details {
    position: absolute ;
    inset: 0;
    font-size: 1rem;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio-e > img,
.portfolio-e > .portfolio-details {
    transition: 200ms ease-in-out;
}

.portfolio-e:hover > img.blur {
    filter: blur(5px);
}

.portfolio-e > .portfolio-details.fade {
    opacity: 0;
}

.portfolio-e:hover > .portfolio-details.fade {
    opacity: 1;
}

.portfolio-wrapper figcaption {
    text-align: center;
    color: #fff;
    font-family: 'Righteous',cursive;
    font-size: 15px;
    letter-spacing: 0.05px;
}

.portfolio-links {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.fab-container {
    position: fixed;
    z-index: 9998;
    bottom: 0;
    right: 0;
    margin: 12px 24px 24px 0px;
}

.fab-container .btn-video {
    background-color: #6290C8;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    box-shadow: rgba(0,0,0,.12) 0px 1px 6px,rgba(0,0,0,.12) 0px 1px 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fab-container .btn-video i {
    color: #fff;
    font-size: 20px;
}

footer {
    background-color: #252A2E;
    padding: 25px;
}

footer p {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}